@import "./components/SearchSection/Searchfield.css";
@import "./components/ResultSection/ResultSection.css";

body {
  font-family: "Times New Roman", Times, serif;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  margin-top: 20px;
  font-size: 48px;
}

h5 {
  font-size: 18px;
}
