#result {
  border: solid, grey 1px;
  border-radius: 18px;
  box-shadow: 10px 10px 5px lightcoral;
  columns: 3;
}

ul {
  padding-top: 16px;
  padding-bottom: 16px;
  list-style-type: none;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

li {
  display: grid;
  padding: 2px;
}

.column {
  padding-top: 12px;
}
